sudo: false
language: android
android:
  components:
    - tools
    - build-tools-23.0.3
    - android-23
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-support
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-23