language: android
android:
  components:
    # - platform-tools
    # - tools

    - build-tools-23.0.2
    - android-23

    - sys-img-armeabi-v7a-android-23

before_install:
  - echo yes | android update sdk --all --filter build-tools-21.1.2 --no-ui --force > /dev/null

script:
  - ./gradlew build connectedCheck